<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hello to {{ name }}!
  </h1>
  <button class="name-button" (click)="switchName()">Change Name</button>
  <div *ngIf="name === 'John'">John is the best</div>
  <div *ngIf="name === 'Jacky'">Jacky is the best</div>
  <div class="name-button" ></div>
  <div *ngFor="let item of todoList">
    {{item}}
    <button (click)="completeItem(item)">Done</button>
  </div>
  <div>
    <input type="text" (change)="saveData($event)">
    <button (click)="sendData(john)">add to child</button>
  </div>
  <div>
  <app-child (clickChildComponentEvent)="receiveData($event)" [textLabel]="john"></app-child>
</div>

